:80 {
  route /hasura/* {
    uri strip_prefix /hasura
    reverse_proxy localhost:8080
  }

  route /auth/* {
    uri strip_prefix /auth
    reverse_proxy localhost:5000
  }

  route /mongo-api/* {
    uri strip_prefix /mongo-api
    reverse_proxy localhost:5001
  }

  reverse_proxy localhost:3000
}
